@model ID_Request.Models.RequestData
@{
    ViewBag.Title = "create";
}
<h4></h4>
<!--
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 offset-3 shadow rounded">
            @using (Html.BeginForm())
            {
                <div class="mt-2">
                    <h3 class="text-center">Add Request</h3>
                </div>
                <div class="mb-3">
                    <label class="form-label">Requested By</label>
                    @Html.TextBoxFor(modelItem => modelItem.RequestedBy, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Section</label>
                    @Html.TextBoxFor(modelItem => modelItem.Section, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Date</label>
                    @Html.TextBoxFor(modelItem => modelItem.RequestedDate, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Employee Number</label>
                    @Html.TextBoxFor(modelItem => modelItem.EmployeeId, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Employee Name</label>
                    @Html.TextBoxFor(modelItem => modelItem.EmployeeName, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Reason</label>
                    @Html.TextBoxFor(modelItem => modelItem.Reason, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    @Html.TextBoxFor(modelItem => modelItem.Status, new { @class = "form-controll form-controll-sm" })
                </div>
                <div class="mb-3">
                    <h4>Requests</h4>
                    <table id="RequestData" class="table table-striped table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Request Date</th>
                                <th>Request By</th>
                                <th>Section</th>
                                <th>Employee Name</th>
                                <th>Employee Id</th>
                                <th>Reason</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-sm btn-success" onclick="refreshData()">Refresh</button>
                    <button type="button" class="btn btn-sm btn-success" onclick="addItem()">Add</button>
                    <button type="button" class="btn btn-sm btn-success" onclick="clearForm()">Clear</button>
                    <button type="button" class="btn btn-sm btn-success" onclick="deleteSelected()">Delete</button>
                </div>
            }
        </div>
    </div>
</div>
-->
